<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>
<title>Sobre nosotros - Santa Clementina</title>
<meta name="description" content="Acerca de nosotros, quienes somos? | Nuestra historia, una fábrica de cerveza artesanal en Intendente Alvear, La Pampa.">
</head>

<body>
    <div class="page-container">
        <!-- include header  -->
        <%- include('./partials/header.ejs') %>
    <main>
        <h1>Quienes somos?</h1>


    </main>

    <%- include('./partials/footer.ejs') %>

    </div>

</body>
</html>