<footer>
    <div class="half-width-border"></div>
    <nav>
        <ul class="footer-nav">
            <li class="li-title">Navegacion</li>
            <li>Nosotros</li>
            <li>Contacto</li>
            <li>Garantia</li>
        </ul>
        <ul class="footer-productos">
            <li class="li-title">Productos</li>
            <li>Relojes</li>
            <li>Cinturones</li>
            <li>Pulseras</li>
        </ul>
        <ul class="footer-redes">
            <li class="li-title">Redes</li>
            <li>Facebook</li>
            <li>Instagram</li>
            <li>Twitter</li>
        </ul>
    </nav>
    <p id="footer-trademark">The Golden Proyect trademark</p>
    <p id="footer-year">2023</p>
</footer>