<header>
    <div class="header-container">
        <div class="hamburger-container">
            <button class="hamburger">
                <div class="bar"></div>
            </button>
            <navbar class="navbar">
                    <ul class="main-navbar">
                        <li><a href='#'>Home</a></li>
                        <!-- <li><a href="#">Productos</a></li> -->
                        <li><a href="#">Nosotros</a></li>
                    </ul>
            </navbar>
        </div>
        <div class="brand-logo">
            <a href="#"><img src="/img/santa-clementina-logo.svg" alt="logo" id="sta-clementina-logo"></a>
        </div>
        <navbar class="navbar">
                <ul class="main-navbar">
                    <li><a href="#">Contacto</a></li>
                </ul>
        </navbar>
        <!-- <div class="user-profile">
            <ul>
                <li>Crear cuenta</li>
                <li>Login</li>
            </ul>
        </div> -->
        <!-- <div class="carrito">
            <span><i class="fa-solid fa-bag-shopping"></i></span>
            <span id="mi-carrito-texto">Mi carrito</span>
        </div> -->
    </div>
    <div class="logo">

    </div>
    <div class="user-login">

    </div>
</header>
<nav class="mobile-nav">
    <a href="#">Home</a>
    <a href="#">Services</a>
    <a href="#">Projects</a>
    <a href="#">Contact</a>
</nav>
<% if(locals.ageCheck != 1){ %>
<div class="overlay" id="ageOverlay">
    <div class="overlay-content">
        <img src="/img/santa-clementina-logo.svg" alt="logo" id="age-check-logo">
        <h1>Sos mayor de edad?</h1>
        <br>
        <br>
        <div id="agecheck-buttons">
            <button class="button" onclick="postData('','/esMayor'), esMayor()">Si</button>
            <button class="button" onclick="esMenor()" id="agecheck-no">No</button>
        </div>
    </div>
</div>
<% } %>

<script>
    function esMayor(){
        document.getElementById('ageOverlay').style.display = 'none'; // Hide the overlay
    }
    function esMenor(){
        alert("Debes ser mayor de edad para acceder al sitio");
    }
</script>