<header>
    <div class="container">
        <div class="hamburger-container">
            <button class="hamburger">
                <div class="bar"></div>
            </button>
            <navbar>
                <ul class="main-navbar">
                    <li><a href='#'>Home</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Mi cuenta</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </navbar>
        </div>
        <div class="brand-logo">
            <a href="#"><img src="/img/santa-clementina-logo.svg" alt="logo" id="sta-clementina-logo"></a>
        </div>
        <!-- <div class="user-profile">
            <ul>
                <li>Crear cuenta</li>
                <li>Login</li>
            </ul>
        </div> -->
        <div class="carrito">
            <p><i class="fa-solid fa-bag-shopping"></i></p>
        </div>
    </div>
    <div class="logo">

    </div>
    <div class="user-login">

    </div>
</header>
<nav class="mobile-nav">
    <a href="#">Home</a>
    <a href="#">Services</a>
    <a href="#">Projects</a>
    <a href="#">Contact</a>
</nav>